<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.projectnike.nike.mapper.StoreMapper">
    <select id="searchItems" resultType="com.projectnike.nike.domain.ProductsVO">
        SELECT item_num, item_type, item_name, item_size
        FROM products
        WHERE ITEM_NAME
        LIKE '%'||#{search}||'%'
    </select>
</mapper>